# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
Todo.FrontEnd/node_modules
Todo.FrontEnd/.pnp
Todo.FrontEnd/.pnp.js

# testing
Todo.FrontEnd/coverage

# production
Todo.FrontEnd/build

# misc
Todo.FrontEnd/.DS_Store
Todo.FrontEnd/.env.local
Todo.FrontEnd/.env.development.local
Todo.FrontEnd/.env.test.local
Todo.FrontEnd/.env.production.local

Todo.FrontEnd/npm-debug.log*
Todo.FrontEnd/yarn-debug.log*
Todo.FrontEnd/yarn-error.log*


.idea
Todo.Web.Api/obj
Todo.Web.Api/bin
