.page {
  background-color: #282c34;
  height:1000px;
  color: white;
  padding: 70px;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  background-color: white;
  color: #282c34;
  padding:20px;
  margin-bottom: 80px;
}

.add-item {
  background-color:	#93eac4;
  color: #282c34;
  border-radius: 60px;
  padding: 30px;
  width: 200px;
  height: 50px;
  text-align: left;
  display: inline-block;
  vertical-align: top;
}

.items-box {
  margin-left: 100px;
  background-color:	#6dc5df;
  color: #282c34;
  border-radius: 60px;
  padding: 30px;
  text-align: left;
  width: 370px;
  height: 200px;
  display: inline-block;
}

.items-scroll {
  overflow-y: scroll;
  max-height: 80%;
}

.remove-icon{
  margin-left: auto;
  cursor: pointer;
}

.list-item{
  display: flex;
  margin: 10px;
}

.time-stamp {
  margin-left: auto;
  font-size: small;
  padding: 1px 0px;
}

.item-completed {
  text-decoration: line-through;
  color:  gray;
  opacity: 0.5;
}

.display-flex {
  display: flex;
}
